.profile-inf {
    float: left; 
    display: flex;
    width: 360px;
}

.edit-profile{
    display:flex;
    float: left;
    

}
.button {
    position: relative;
     clear: right; 
    height: 20px;

   
}
.addMarker {
    clear:both;
    float: right;
}
agm-map {
    height: 400px;
    width: 500px;
    display: flex;
    align-self: right;
    float: right;
    position: relative;
    margin-top: -20px;

}

.tr {
    height: 28px;
}