.one-fourth {
    float: left;
}

.profile-inf {
    float: left; 
    display: flex;
    width: 360px;
}

.edit-profile{
  
   
    clear: both;
    margin-top: 50px;
}
.button {
    
    clear: right; 
    height: 20px;
    display: block;
    
   
}
agm-map {
    margin-top: 10px;
    height: 350px;
    width: 19em;
    float: right;
    position: relative;
    margin-right: 20px;
    

}
.addMarker {
    display: flex;
    width: 250px;
    position: relative;
   
    float: right;
    margin-top: 20px;
}

.tr {
    height: 28px;
}

#marker-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
