<!-- <navbar-in></navbar-in> -->
<h1>
    Welcome to your active site {{this.user.username}} !    
</h1>
<div class="jumbotron">
<div class="profile-inf">
 <table >
    <tr>
        <td>Username:</td><td>{{this.user.username}}</td>
    </tr>
    <tr>
        <td>Name:</td><td>{{this.user.name}}</td>
    </tr>
    <tr>
        <td>Last name:</td><td>{{this.user.lastName}}</td>
    </tr>
    <tr>
        <td>Favourite sports: </td><td>{{this.user.favouriteSports}}</td>
    </tr>
</table>
</div>
<div *ngIf="showEditProfile === true" class="edit-profile"> 
    <table>
        <tr>
            <td><input [(ngModel)]="this.user.username" type="text" maxlength="20"></td>
        </tr>
        <tr>
            <td><input [(ngModel)]="this.user.name" type="text" maxlength="20"></td>
        </tr>
        <tr>
            <td><input [(ngModel)]="this.user.lastName" type="text" maxlength="20"></td>
        </tr>
        <tr>
            <td><input [(ngModel)]="this.user.favouriteSports" type="text" maxlength="150"></td>
        </tr>
    </table> 
    <button (click)="updateUser()" [class.clicked]="showEditProfile === false"> submit </button>
</div>
    
</div>
<agm-map 
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]= false
    [zoomControl]= false
    (mapClick)="mapClicked($event)">
    
     <agm-marker 
        *ngFor="let marker of markers; let i = index"
        (markerClick)="clickedMarker(marker, i)"
        [longitude]="marker.lng"
        [latitude]="marker.lat"
        [markerDraggable]="marker.draggable"
        (dragEnd)="markerDragEnd(marker, $event)">
    <agm-info-window>
            <strong>{{marker.name}}</strong>
            <br>
            <a class="delete" (click)="removeMarker(marker)">Delete the Game</a>
        </agm-info-window> 
     </agm-marker> 
</agm-map>


 <div class="button">
    <button (click)="logout()" class="box"> logout </button>
    <button (click)="edit()" [class.clicked]="showEditProfile === true"> edit profile</button>
</div>
<form (submit)="addMarker()">
    <label> Location Name </label>
    <input type="text" [(ngModel)]="markerName" name="markerName">

    <label> Latitude </label>
    <input type="text" [(ngModel)]="markerLat" name="markerLat">

    <label> Longitude </label>
    <input type="text" [(ngModel)]="markerLng" name="markerLng">

    <label> Draggable </label>
    <select  [(ngModel)]="markerDraggable" name="markerDraggable">
        <option value="no">No</option>
        <option value="yes">Yes</option>
    </select>
    <input type="submit" value="Map it">
</form>

