.profile-inf {
    float: left; 
    display: flex;
    width: 360px;
}

.edit-profile{
    display:flex;

}
.button {
    clear:both;
    height: 20px;
   
}
agm-map {
    height: 300px;
    width: 500px;
    display: flex;
    align-self: right;
    float: right;
    position: relative;

}