
  <div class="background">
    <div class="purple" > </div>
    <div class="green" > </div>
  </div>

  <header>
    <div *ngIf="!this.user" class="navbar">
      <img class="logo"  [src]= "'../assets/transparentlogo.jpg'">
        <nav>
        <ul>
          <li class="title"> {{title}}</li>
          <li><a [routerLink]="['home']">HomeDay</a></li>
          <li><a [routerLink]="['logIn']">Log in</a></li>
          <li><a [routerLink]="['signUp']">Sign up</a></li>    
        </ul>
      </nav>
    </div> 
</header>

  <header>
    <div *ngIf="this.user" class="navbar">
      <img class="logo" [src]= "'../assets/transparentlogo.jpg'">
        <nav>
        <ul>
          <li class="title"> {{title}}</li>
          <li><a [routerLink]="['home']">HomeDay</a></li>    
          <button (click)="logout()" class="box"> logout </button>    
        </ul>
      </nav>
    </div> 
</header>
  <div class="col-12" class="content">
    <div class="col-12">asdasdsadasdsadasd
      <router-outlet></router-outlet>
    </div>
  
</div>
