
  <div class="background">
    <div class="purple" > </div>
    <div class="green" > </div>
  </div> 

   
      <!-- <div *ngIf="this.user" class="navbar">
      <img class="logo" [src]= "'../assets/transparentlogo.jpg'">
        <nav>
        <ul>
          <li class="title"> {{title}}</li>
          <li><a [routerLink]="['home']">HomeDay</a></li>    
          
          <button (click)="logout()" class="box"> logout </button>    
        </ul>
      </nav>
    </div>      -->
  
    <div class="navbar " >
      <img class="logo"  [src]= "'../assets/transparentlogo.jpg'">
      <h1 class="title">{{title}}</h1>
        <nav>
        <ul>         
          <li><a [routerLink]="['logIn']">Log in</a></li>
          <li><a [routerLink]="['signUp']">Sign up</a></li>  
          <!-- <button (click)="logout()" class="box"> logout </button>   -->
        </ul>
      </nav>
    </div>   


      <router-outlet></router-outlet>
    
  
