
  <div class="background">
    <div class="purple" > </div>
    <div class="green" > </div>
  </div>

  <header>
    <div class="navbar">
    
      
        <img class="logo" [src]= "'../assets/transparentlogo.jpg'">

        <nav>
          <ul>
            <li><a [routerLink]="['home']">GameDay!</a></li>
            <li><a [routerLink]="['logIn']">Log in</a></li>
            <li><a [routerLink]="['signUp']">Sign up</a></li>    
          </ul>
        </nav>
    
  </div> 
</header>
  <div class="col-12" class="content">
    <div class="col-12">
      <h1>
        {{title}}
      </h1>
      <router-outlet></router-outlet>
    </div>
  
</div>
